<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppID</key>
	<string>1491749747</string>
	<key>BugReportEmail</key>
	<string>poopigeonfeedback@gmail.com</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-3940256099942544~1458002511</string>
	<key>GADBannerViewAdUnitID</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>GADRewardedAdUnitID</key>
	<string>ca-app-pub-3940256099942544/1712485313</string>
	<key>IAP Product Identifiers</key>
	<dict>
		<key>RemoveAds</key>
		<string>com.DanyloPolishchuk.PooPigeon.RemoveAds</string>
		<key>UnlockAll</key>
		<string>com.DanyloPolishchuk.PooPigeon.UnlockAll</string>
		<key>UnlockAllBirds</key>
		<string>com.DanyloPolishchuk.PooPigeon.UnlockAllBirds</string>
		<key>UnlockAllLevels</key>
		<string>com.DanyloPolishchuk.PooPigeon.UnlockAllLevels</string>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Application saves Level backgrounds as wallpapers to your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Application saves Level backgrounds as wallpapers to your photo library</string>
	<key>UIAppFonts</key>
	<array>
		<string>haxrcorp_4089_cyrillic_altgr.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreenDebug</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
